<%- include("./partials/head.ejs") %>

<section class="hero">
  <div class="bubble-vthbo">
    <svg></svg>
    <h2>Visual Thinking in het HBO</h2>
  </div>
  <div class="bubble-why">
    <svg></svg>
    <h2>Waarom?</h2>
    <button></button>
  </div>
  <div class="bubble-methods">
    <svg></svg>
    <h2>Methodes</h2>
    <button></button>
  </div>
  <div class="bubble-categories">
    <svg></svg>
    <h2>Welke categorieën zijn er allemaal?</h2>
  </div>
</section>

<section class="categories">
  <ul>
    <% methods.forEach(method => { %>
      <h3><%- method.title %></h3>
      <p><%- method.duration %></p>
     <% }) %>
  </ul>
</section>

<%- include("./partials/foot.ejs") %>